.first{
    width: 800px;
    height: 1500px;
    background-color: rgb(255, 255, 255);
    margin: 20px auto;
    padding: 20px;
}
body{
    background-image: url("https://top-fon.com/uploads/posts/2023-01/1674753351_top-fon-com-p-fon-v-vide-gazeti-dlya-prezentatsii-2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
nav{
    height: 50px;
    background-color: black;
}
a{
    padding: 15px;
    line-height: 50px;
    color: rgb(255, 255, 255);
    text-decoration: none;
}
.second{
    border: 2px dotted black;
}
.third{
    border: 2px dotted rgb(0, 0, 0)
}
.four{
    border: 2px dotted black;
}